<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Rent A Ride</title>

        <link rel="icon" type="image/x-icon" th:href="@{/assets/rentARide.png.ico}" />
        <link rel="icon" type="image/png" th:href="@{/assets/rentARide.png}" />
        <link rel="icon" type="image/svg+xml" th:href="@{/assets/rentARide.png.svg}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" th:href="@{/home}">Rent A Ride</a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/rent}">Rent Car</a></li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownLogIn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Create Account</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" th:href="@{/register}">Create Account</a></li>
                                    <!----><li><a class="dropdown-item" href="logIn.html">Log In</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                            <div class="text-center text-white my-5">
                                <h1 class="display-5 fw-bolder text-white mb-2">Exceeding expectations, one ride at a time.</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Our mission is to redefine the way you experience car rentals. We strive to provide exceptional service, a diverse fleet of quality vehicles, and seamless convenience, all with the goal of making your journey with us truly unforgettable. Your satisfaction is our driving force, and we are committed to exceeding your expectations at every turn.</p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                        </div>
                    </div>
                </div>
            </header>

            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" th:src="@{/assets/aboutpage/ourFounding.png}" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Our founding</h2>
                            <p class="lead fw-normal text-muted mb-0">Our company was founded with a vision to revolutionize the car rental industry, driven by a passion for delivering exceptional service and a commitment to providing customers with unparalleled experiences on the road.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" th:src="@{/assets/aboutpage/ourGrowth.png}" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Growth &amp; beyond</h2>
                            <p class="lead fw-normal text-muted mb-0">Our commitment to growth goes beyond expanding our fleet and reach. We are dedicated to continually enhancing our services, innovating with new technologies, and fostering long-lasting relationships with our customers, ensuring that we evolve alongside their ever-changing needs and exceed their expectations as we embark on an exciting journey of progress together.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" th:src="@{/assets/aboutpage/ourPurpose.jpg}" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Our purpose</h2>
                            <p class="lead fw-normal text-muted mb-0">Our purpose is to empower individuals to embrace the freedom of the open road, creating memorable experiences and enabling unforgettable adventures that inspire a lifetime of exploration.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-left text-white">Copyright &copy; Rent a Ride 2023</p></div>
        </footer>
    </body>
</html>
