<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Rent A Ride</title>

        <link rel="icon" type="image/x-icon" th:href="@{/assets/rentARide.png.ico}" />
        <link rel="icon" type="image/png" th:href="@{/assets/rentARide.png}" />
        <link rel="icon" type="image/svg+xml" th:href="@{/assets/rentARide.png.svg}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" th:href="@{/home}">Rent A Ride</a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/rent}">Rent Car</a></li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownLogIn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Create Account</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" th:href="@{/register}">Create Account</a></li>
                                    <!----><li><a class="dropdown-item" href="logIn.html">Log In</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Unleash your journey with Rent A Ride!</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Rent A Ride - Your trusted car rental solution</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                                    <a class="btn btn-outline-light btn-lg px-4" th:href="@{/about}">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" th:src="@{/assets/homepage/bugattiChiron.jpg}" alt="..." /></div>
                    </div>
                </div>
            </header>

            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A better way to start your journey.</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h5">Convenient online booking</h2>
                                    <p class="mb-0">Rent a car seamlessly with our user-friendly online platform.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                    <h2 class="h5">Wide selection of vehicles</h2>
                                    <p class="mb-0">Choose from our diverse fleet of well-maintained cars to suit your needs.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">Flexible rental options</h2>
                                    <p class="mb-0">Enjoy the freedom of selecting your desired rental duration, from daily to long-term.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">Exceptional customer service</h2>
                                    <p class="mb-0">Experience personalized assistance and support from our dedicated team throughout your rental journey.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"Embrace the open road and let your dreams drive you forward. With determination as your fuel and passion as your compass, there are no limits to what you can achieve. Take the wheel, navigate your own destiny, and embark on a journey of endless possibilities."</div>
                                <div class="d-flex align-items-center justify-content-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Our Cars</h2>
                                <p class="lead fw-normal text-muted mb-5">Unleash your drive, elevate your experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" th:src="@{/assets/homepage/toyotaCorolla.png}" alt="..." />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" th:href="@{/rent}"><h5 class="card-title mb-3">Toyota Corolla</h5></a>
                                    <p class="card-text mb-0">Discover the perfect balance of reliability, comfort, and efficiency with our fleet of Toyota Corollas. Whether you're embarking on a solo journey or exploring with friends, the Toyota Corolla ensures a smooth and enjoyable ride, making it the ideal choice for your rental needs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img style="margin-top:65px;" class="card-img-top" th:src="@{/assets/homepage/fordMustang.jpg}" alt="..." />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" th:href="@{/rent}"><h5 class="card-title mb-3">Ford Mustang</h5></a>
                                    <p class="card-text mb-0">Experience the thrill of the road with our fleet of Ford Mustangs, a symbol of power, style, and pure driving excitement. Get behind the wheel and ignite your passion for adventure with the iconic Ford Mustang, designed to turn heads and deliver an unforgettable rental experience.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" th:src="@{/assets/homepage/hondaCR-V.png}" alt="..." />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" th:href="@{/rent}"><h5 class="card-title mb-3">Honda CR-V</h5></a>
                                    <p class="card-text mb-0">Experience versatility and adventure with our fleet of Honda CR-Vs. With spacious interiors, advanced features, and reliable performance, the Honda CR-V offers the perfect blend of comfort and capability for your unforgettable rental experience.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-left text-white">Copyright &copy; Rent a Ride 2023</p></div>
        </footer>
    </body>
</html>
